body
{
  font-family: Tahoma, sans-serif;
  color: #C0E8F9;
  background-color: #706C61;
  margin-left: 50px;
  margin-right: 50px;
}

main
{
  padding-left: 100px;
  padding-right: 100px;
}

.signature
{
  font-style: italic;
}

a
{
  text-decoration: none;
  color:#FF8552;
}

h2
{
    text-align: center;
}

figure
{
    text-align: center;
}

figcaption
{
    font-style: italic;
}

header,footer
{
  font-family: Courier, serif;
  text-align: center;
  color: #B8D3D1;
}
