body
{
  font-family: 'Josefin Sans', sans-serif;
  color: #C0E8F9;
  background-color: #706C61;
  margin-left: 50px;
  margin-right: 50px;
}

main
{
  padding-left: 100px;
  padding-right: 100px;
}

#itis3135-home
{
  text-align: center;
}

th,td
{
  border: 2px solid black;
  padding: .2em 1em .2em .5em;
  text-align: left;
  vertical-align: middle;
}

thead,tfoot
{
  background-color: #C97D60;
}

tbody tr:nth-child(odd){
  background-color: #63372C;
}

.department
{
  background-color: #706C61;
  font-weight: bolder;
}

.right
{
  text-align: right;
}

a
{
  text-decoration: none;
  color:#FF8552;
}

h2,h3
{
    text-align: center;
}

figure
{
    text-align: center;
}

figcaption
{
    font-style: italic;
}

header,footer
{
  font-family: Courier, serif;
  text-align: center;
  color: #B8D3D1;
}
