<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/jpetron1/" target="_blank">CLT Home</a>
        -
        <a href="https://github.com/jepetro" target="_blank">Github</a>
        -
        <a href="https://jepetro.github.io/" target="_blank">Github.io</a>
        -
        <a href="https://www.freecodecamp.org/jepetro" target="_blank">freeCodeCamp</a>
        -
        <a href="https://jsfiddle.net/user/jepetro/" target="_blank">JSFiddle</a>
        -
        <a href="https://www.linkedin.com/in/josephpetrongelli" target="_blank">LinkedIn</a>
    </nav>
    Created by <a href="/petroconsult.co/" target="_blank">Petrongelli Consulting</a> &copy;2022.
    <p>
        <a href="https://validator.w3.org/check?uri=referer">
            <img src="images/button_validation_html5.png" width="88" height="31" alt="Link to HTML validator">
        </a>

        <a href="https://jigsaw.w3.org/css-validator/check/referer">
            <img src="images/button_validation_css.png" width="88" height="31" alt="Link to CSS validator">
        </a>
    </p>
</footer>