<header>
    <h1>Joseph Petrongelli ~ ITIS 3135 ~ Jade Panther</h1>
    <nav class="navbar">
        <a href="index.html">Home</a>
        |
        <a href="introduction.html">Introduction</a>
        |
        <a href="contract.html">Contract</a>
        |
        <div class="dropdown">
            <button class="dropdownbutton">Html/CSS Unit
                <i class="fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="tables.html">Tables</a>
                <a href="forms.html">Forms</a>
                <!--|
                <a href="jade_panther.html">Brand</a>-->
                <a href="website_evaluations.html">Website Evaluations</a>
                <a href="stuff/WoW sOcOoLwEbPaGe=sItE.htm" target="_blank">CRAPPY Website</a>
            </div>    
        </div>
        |
        <div class="dropdown">
            <button class="dropdownbutton">JavaScript Unit
                <i class="fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="first-scripts.html">First Scripts</a>
                <a href="polygon.html">Polygon</a>
                <a href="calculator_try.html">Calculator try</a>
                <a href="calculator_fcc.html">Calculator Tutorial</a>
                <a href="arrays.html">Arrays</a>
            </div>    
        </div>
        |
        <div class="dropdown">
            <button class="dropdownbutton">Jquery Unit
                <i class="fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="slideshow.html">Slideshow</a>
                <a href="activity10.html">Image Swap</a>
                <a href="accordion-widget.html">Accordion Widget</a>
                <a href="carousel.html">Carousel App</a>
            </div>    
        </div>
        |
        <a href="project_rand.html">Project Design</a>
        |
        <a href="project/" target="_blank">Project</a>
        |
        <a href="hobby/" target="_blank">Hobby</a>
        |
        <a href="peer-review1.html">Peer Review 1</a>
        |
        <a href="peer-review2.html">Peer Review 2</a>
        |
        <a href="activity13/activity13.html" target="_blank">Activity 13</a>
        |
        <a href="activity14/activity14.html" target="_blank">Activity 14</a>
        |
        <a href="activity15/activity15.html" target="_blank">Activity 15</a>
    </nav>
</header>