<header>
    <h1>Joseph Petrongelli ~ ITIS 3135 ~ Jade Panther</h1>
    <nav>
        <a href="index.html">Home</a>
        |
        <a href="introduction.html">Introduction</a>
        |
        <a href="contract.html">Contract</a>
        |
        <a href="tables.html">Tables</a>
        |
        <a href="forms.html">Forms</a>
        <!--|
        <a href="jade_panther.html">Brand</a>-->
        |
        <a href="website_evaluations.html">Website Evaluations</a>
        |
        <a href="stuff/WoW sOcOoLwEbPaGe=sItE.htm">CRAPPY Website</a>
        |
        <a href="first-scripts.html">First Scripts</a>
    </nav>
</header>